#toolsTasks *{
    box-sizing: border-box;
    overflow: hidden;
}

#toolsTasks {
    padding: 1%;
    
    height: 40svh;
    display: grid;
    grid-template-columns: 30fr 45fr 24fr;
    gap: 2%;
    
    justify-content: space-between;
}

#toolsTasks .sezione{
    padding: 0.5svh 0% 0% 0%;

    display: grid;
    grid-template-rows: 7.5% 92.5%;
}

#toolsTasks .sezione .body{
    border: 2px solid rgb(0,144,157);
    border-radius: 0% 0% 32px 32px;
}

#toolsTasks .sezione .titolo{
    background: rgb(0,144,157);
    background: linear-gradient(123deg, rgba(0,144,157,1) 0%, rgba(0,184,186,1) 100%);
    color: white;

    /* text-align: center; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 85%;
    border-radius: 100px 100px 0px 0px;
}

#tools .body{

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;

    padding: 2%;

    border: 2px solid rgb(0,144,157);
}

    #tools .body .applicazione{
        display: grid;
        grid-template-columns: 3fr 6fr;
        gap: 10%;

        align-items: center;
    }

    #tools img{
        height: 7svh;
        margin: 2%;
    }

    #tools .contieniImmagine{
        padding: 1svh;
    }

#tts .body{
    display: grid;
    grid-template-rows: 2fr 9fr 3fr;
}

#addEventoGruppo{
    height: 100%;
    align-items: center;

    background-color: #e0fafb;
    border: 10% solid #422800;
    border-radius: 30px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
}
