#calendariSettimana, #calendariSettimana *{
    box-sizing: border-box;
    overflow: hidden;
}

#calendariSettimana{
    background: rgba(128, 0, 128, 128);
    padding: 1%;

    /* max-height: 50svh; */
    height: 48svh;
    display: grid;
    grid-template-columns: 2fr 6fr 6fr 3fr;
    gap: 2%;
}

#calendariSettimana .sezione{
    padding: 0.5svh 0% 0% 0%;

    display: grid;
    grid-template-rows: 5% 95%;
    
    /* align-items: 0px; */

    /*! COME FACCIO A RENDERE LA GRID GRANDE AL MASSIMO QUANTO AL SUO STESSO CONTENITORE (.sezione)?  Per mostrare il problema, commentare il max-height di #calendariSettimana*/
    /** Non funziona neanche passando il template-columns di #calendari*/
    /* overflow-y: hidden; */
    
}

#calendariSettimana .sezione .titolo{
    background: beige;
    /* margin: 5% 2% 0% 2%; */
    text-align: center;
    border-radius: 100px 100px 0px 0px;
    margin: 0%;
}

#calendariSettimana .sezione .body{
    background: gainsboro;
    margin: 0%;
    padding: 0%;
}

#colonnaTempi .body{
    overflow-y: scroll;
}