#toolsTasks *{
    box-sizing: border-box;
    overflow: hidden;
}

#toolsTasks {
    background: salmon;
    padding: 1%;
    
    height: 38svh;
    display: grid;
    grid-template-columns: 30fr 45fr 24fr;
    gap: 2%;
    
    justify-content: space-between;
}

#toolsTasks .sezione{
    padding: 0.5svh 0% 0% 0%;

    display: grid;
    grid-template-rows: 5% 95%;
}

#toolsTasks .sezione .titolo{
    background: beige;

    /* text-align: center; */

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 85%;
    border-radius: 100px 100px 0px 0px;
}

#toolsTasks .sezione .body{
    background: gainsboro;
}

#tools .body{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;

    padding: 2%;
}

    #tools .body .applicazione{
        display: grid;
        grid-template-columns: 3fr 6fr;
        gap: 10%;

        align-items: center;
    }

    #tools img{
        height: 8svh;
    }

    #tools .contieniImmagine{
        padding: 1svh;
    }