header *{
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background: beige;
    font-size: 2svh;
}

.navbar{
    background: #ff7518;
    /* font-size: 1em; */

    display: grid;
    max-height: 8svh;
    padding: 0.5%;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: sx ce dx;
    /* font-size: 2svh; */
}

    .navbar .sx{
        display: flex;
        padding: 1%;

        justify-content: flex-start;
        align-items: center;
    }

        .navbar .sx img{
            width: 95%;
            height: 95%;
        }

    .navbar .ce{
        display: flex;
        flex-flow: row nowrap;

        justify-content: center;
        column-gap: 5%;
        align-items: center;
    }

    .navbar .dx{
        display: flex;
        flex-flow: row-reverse;

        justify-content: space-around;
        align-items: center;
    }